<div>
    <div>
        <wordle-letter [viewModel]="viewModel[0].line[0]" />
        <wordle-letter [viewModel]="viewModel[0].line[1]" />
        <wordle-letter [viewModel]="viewModel[0].line[2]" />
        <wordle-letter [viewModel]="viewModel[0].line[3]" />
        <wordle-letter [viewModel]="viewModel[0].line[4]" />
    </div>
    <div>
        <wordle-letter [viewModel]="viewModel[1].line[0]" />
        <wordle-letter [viewModel]="viewModel[1].line[1]" />
        <wordle-letter [viewModel]="viewModel[1].line[2]" />
        <wordle-letter [viewModel]="viewModel[1].line[3]" />
        <wordle-letter [viewModel]="viewModel[1].line[4]" />
    </div>
    <div>
        <wordle-letter [viewModel]="viewModel[2].line[0]" />
        <wordle-letter [viewModel]="viewModel[2].line[1]" />
        <wordle-letter [viewModel]="viewModel[2].line[2]" />
        <wordle-letter [viewModel]="viewModel[2].line[3]" />
        <wordle-letter [viewModel]="viewModel[2].line[4]" />
    </div>
    <div>
        <wordle-letter [viewModel]="viewModel[3].line[0]" />
        <wordle-letter [viewModel]="viewModel[3].line[1]" />
        <wordle-letter [viewModel]="viewModel[3].line[2]" />
        <wordle-letter [viewModel]="viewModel[3].line[3]" />
        <wordle-letter [viewModel]="viewModel[3].line[4]" />
    </div>
    <div>
        <wordle-letter [viewModel]="viewModel[4].line[0]" />
        <wordle-letter [viewModel]="viewModel[4].line[1]" />
        <wordle-letter [viewModel]="viewModel[4].line[2]" />
        <wordle-letter [viewModel]="viewModel[4].line[3]" />
        <wordle-letter [viewModel]="viewModel[4].line[4]" />
    </div>
</div>